// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.topic-box {
  break-inside: avoid;
  border: 1px solid #001dfd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(106, 154, 243, 0.1);
}

.two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}


.container-learning-resources {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  max-width: 1800px;
  /* adjust as needed */
  margin: 0 auto;
}

